body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  margin-top: 0;
}

.input-group {
  margin-bottom: 10px;
}

.output-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.output-group label {
  flex-basis: 200px;
  margin-right: 10px;
}

output {
  font-weight: bold;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
}
